In [1]:
import pandas as pd

In [3]:
df1 = pd.DataFrame(
    {'A': [5, 3, None, 4],
     'B': [None, 2, 4, 3],
     'C': [4, 3, 8, 5],
     'D': [5, 4, 2, None]}
)
df1

     A    B  C    D
0  5.0  NaN  4  5.0
1  3.0  2.0  3  4.0
2  NaN  4.0  8  2.0
3  4.0  3.0  5  NaN

In [4]:
#列的选择，多个列需要用列表

df1[['A','C']]

     A  C
0  5.0  4
1  3.0  3
2  NaN  8
3  4.0  5

In [6]:
# 某几列
# : 表示所有行，获得第一和第三列
df1.iloc[:, [0,2]]

     A  C
0  5.0  4
1  3.0  3
2  NaN  8
3  4.0  5

In [9]:
# 行选择
# df1.loc[[0,2]]  选择第一和第三行
# df1.loc[0:2]    选择第一到第三行
df1.loc[[0,2]]
df1.loc[0:2]

     A    B  C    D
0  5.0  NaN  4  5.0
1  3.0  2.0  3  4.0
2  NaN  4.0  8  2.0

In [11]:
# 比较
df1
df1[(df1['A']<5)&(df1['C']<4)]

     A    B  C    D
1  3.0  2.0  3  4.0

In [12]:
# 数据替换

df1['C'].replace(4,40)

0    40
1     3
2     8
3     5
Name: C, dtype: int64

In [13]:
import numpy as np

In [14]:
df1.replace(np.nan,0)

     A    B  C    D
0  5.0  0.0  4  5.0
1  3.0  2.0  3  4.0
2  0.0  4.0  8  2.0
3  4.0  3.0  5  0.0

In [15]:
# 多对一替换(列表)

df1.replace([4,5,8],50)

      A     B   C     D
0  50.0   NaN  50  50.0
1   3.0   2.0   3  50.0
2   NaN  50.0  50   2.0
3  50.0   3.0  50   NaN

In [16]:
# 多对多替换(字典)

df1.replace({4:400,5:500,8:800})

       A      B    C      D
0  500.0    NaN  400  500.0
1    3.0    2.0    3  400.0
2    NaN  400.0  800    2.0
3  400.0    3.0  500    NaN

In [17]:
# 排序

df1.sort_values(by=['A'],ascending=False)

     A    B  C    D
0  5.0  NaN  4  5.0
3  4.0  3.0  5  NaN
1  3.0  2.0  3  4.0
2  NaN  4.0  8  2.0

In [18]:
# 多列排序

df1.sort_values(by=['A','C'],ascending=[True,False])

     A    B  C    D
1  3.0  2.0  3  4.0
3  4.0  3.0  5  NaN
0  5.0  NaN  4  5.0
2  NaN  4.0  8  2.0

In [19]:
# 删除列
df1.drop('A',axis=1)

     B  C    D
0  NaN  4  5.0
1  2.0  3  4.0
2  4.0  8  2.0
3  3.0  5  NaN

In [22]:
# 删除行
df1.drop(3,axis=0)

     A    B  C    D
0  5.0  NaN  4  5.0
1  3.0  2.0  3  4.0
2  NaN  4.0  8  2.0

In [23]:
# 删除特定行

df1[df1['A']<4]

     A    B  C    D
1  3.0  2.0  3  4.0

In [24]:
# 行列互换
df1.T

     0    1    2    3
A  5.0  3.0  NaN  4.0
B  NaN  2.0  4.0  3.0
C  4.0  3.0  8.0  5.0
D  5.0  4.0  2.0  NaN

In [25]:
df1.T.T

     A    B    C    D
0  5.0  NaN  4.0  5.0
1  3.0  2.0  3.0  4.0
2  NaN  4.0  8.0  2.0
3  4.0  3.0  5.0  NaN

In [26]:
# 索引重塑

df2=pd.DataFrame(
    [['a','b','c'],
     ['d','e','f']
     ],
    columns=['one','two','third'],
    index=['first','second']
)
df2

       one two third
first    a   b     c
second   d   e     f

In [27]:
df2.stack()

first   one      a
        two      b
        third    c
second  one      d
        two      e
        third    f
dtype: object

In [28]:
df2.unstack()

one    first     a
       second    d
two    first     b
       second    e
third  first     c
       second    f
dtype: object

In [29]:
df2.stack().reset_index()

  level_0 level_1  0
0   first     one  a
1   first     two  b
2   first   third  c
3  second     one  d
4  second     two  e
5  second   third  f