In [1]:
import pandas as pd

In [3]:
df1 = pd.DataFrame(
    {'A': [5, 3, None, 4],
     'B': [None, 2, 4, 3],
     'C': [4, 3, 8, 5],
     'D': [5, 4, 2, None]}
)
df1

     A    B  C    D
0  5.0  NaN  4  5.0
1  3.0  2.0  3  4.0
2  NaN  4.0  8  2.0
3  4.0  3.0  5  NaN

In [4]:
# 算数计算（NaN无法参与计算）

In [5]:
df1['A']+df1['C']

0    9.0
1    6.0
2    NaN
3    9.0
dtype: float64

In [6]:
df1.count()

A    3
B    3
C    4
D    3
dtype: int64