In [1]:
import pandas as pd
import numpy as np

In [2]:
# 聚合
sales=[{'account':'Jone LLC','type':'a','Jan':150,'Feb':200,'Mar':140},
       {'account':'Alpha Co','type':'b','Jan':200,'Feb':210,'Mar':215},
       {'account':'Blue Inc','type':'a','Jan':50,'Feb':90,'Mar':95}]

df1=pd.DataFrame(sales)

df1

    account type  Jan  Feb  Mar
0  Jone LLC    a  150  200  140
1  Alpha Co    b  200  210  215
2  Blue Inc    a   50   90   95

In [3]:
df1.groupby('type').groups

{'a': Int64Index([0, 2], dtype='int64'), 'b': Int64Index([1], dtype='int64')}

In [4]:
for a,b in df1.groupby('type'):
    print(a)
    print(b)

a
    account type  Jan  Feb  Mar
0  Jone LLC    a  150  200  140
2  Blue Inc    a   50   90   95
b
    account type  Jan  Feb  Mar
1  Alpha Co    b  200  210  215

In [5]:
# 聚合后再计算
df1.groupby('type').count()

      account  Jan  Feb  Mar
type
a           2    2    2    2
b           1    1    1    1

In [13]:
df1.groupby('Jan').count()

     account  type  Feb  Mar
Jan
50         1     1    1    1
150        1     1    1    1
200        1     1    1    1

In [12]:

group=['x','y','z']

data=pd.DataFrame(
    {
        'group':[group[x] for x in np.random.randint(0,len(group),10)],
        'salary':np.random.randint(5,50,10),
        'age':np.random.randint(15,50,10)
    }
)

In [9]:
data.groupby('group').agg('mean')

          salary        age
group
x      29.500000  36.750000
y      16.333333  25.333333
z      33.333333  20.333333

In [10]:
data.groupby('group').mean().to_dict()

{'salary': {'x': 29.5, 'y': 16.333333333333332, 'z': 33.333333333333336},
 'age': {'x': 36.75, 'y': 25.333333333333332, 'z': 20.333333333333332}}

In [11]:
data.groupby('group').transform('mean')

      salary        age
0  33.333333  20.333333
1  16.333333  25.333333
2  16.333333  25.333333
3  29.500000  36.750000
4  33.333333  20.333333
5  33.333333  20.333333
6  29.500000  36.750000
7  16.333333  25.333333
8  29.500000  36.750000
9  29.500000  36.750000

In [14]:
# 各类型产品的销售数量和销售总额

df1.groupby('type').agg({'type':'count','Feb':'sum'})

      type  Feb
type
a        2  290
b        1  210

In [15]:
# 数据透视表
pd.pivot_table(
    data,
    values='salary',
    index='age',
    columns='group',
    aggfunc='count',
    margins=True
).reset_index()

group  age    x    y    z  All
0       15  NaN  NaN  1.0    1
1       18  NaN  NaN  1.0    1
2       21  NaN  NaN  1.0    1
3       24  1.0  NaN  NaN    1
4       26  NaN  1.0  NaN    1
5       28  NaN  NaN  1.0    1
6       29  NaN  NaN  1.0    1
7       35  1.0  NaN  NaN    1
8       39  NaN  NaN  1.0    1
9       42  1.0  NaN  NaN    1
10     All  3.0  1.0  6.0   10

In [16]:
data

  group  salary  age
0     z      33   29
1     x      27   24
2     z      32   39
3     y      33   26
4     z      49   21
5     x      43   42
6     x      35   35
7     z      15   18
8     z       8   15
9     z      46   28